<form action="">
  <input type="text" class="txt" name="itemEdad" placeholder="Edad" [(ngModel)]="Edad">
  <br><span>{{Edad}}</span><br>
  <input type="text" class="txt" name="Nombre" placeholder="Nombres" [(ngModel)]="nombre">
  <br><span>{{nombre}}</span><br>
  <input type="text" class="txt" name="sexo" placeholder="sexo" [(ngModel)]="sexo">
  <br><span>{{sexo}}</span><br>
  <input type="email" class="txt" name="correoelectronico" placeholder="el mio papu" [(ngModel)]="correo">
  <br><span>{{correo}}</span><br>
</form>